<footer class="white-section" id="footer">
    <a href="https://github.com/ryan-durand" target="_blank" style="color:inherit">
      <i class="fab fa-2x fa-github footer-icon"></i>
    </a>
    <a href="https://www.discogs.com/user/MechaBearcat/collection" target="_blank" style="color:inherit">
      <i class="fas fa-2x fa-compact-disc footer-icon"></i>
    </a>
    <a href="mailto:ryandurand70@gmail.com" style="color:inherit">
      <i class="fas fa-2x fa-envelope footer-icon"></i>
    </a>
    <p>© Copyright 2020 Bearcat Records</p>
  </footer>

</body>

</html>