<%- include("header") -%>

    <section id="title">
  
      <!-- Main page text -->
      <div>
        <h2>Welcome to</h2>
        <h1 class="main-header">Bearcat Records</h1>
        <p class="site-description">
          Browse the Vault, see which Most Wanted records elude the collection,
          or indulge in what has our attention recently over at Currently Listening
        </p>
      </div>
  
    </section>
  
    <section id="carousel">
  
      <div id="testimonial-carousel" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="hover">
        <div class="carousel-inner">
          <div class="carousel-item active container-fluid">
            <h2 class="section-heading">See what Bearcat Records has in stock. Browse the Vault.</h2>
            <button type="button" class="btn btn-dark btn-lg download-button">
              <a href="/vault" target="_blank" style="color:inherit">Check it out</a>
            </button>
          </div>
  
          <div class="carousel-item container-fluid">
            <h2 class="section-heading">The records most sought out by Bearcat. Browse the Most Wanted.</h2>
            <button type="button" class="btn btn-dark btn-lg download-button">
              <a href="mostwanted.html" target="_blank" style="color:inherit">Check it out</a>
            </button>
          </div>
        </div>
  
        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
  
        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </section>

<%- include("footer") -%>